/* Estilos gerais */
header {
    font-family: Arial, sans-serif;
}
body {
    font-family: Arial, sans-serif;
}
footer {
    font-family: Arial, sans-serif;
}

.title {
    color: rgb(34, 139, 34);
    padding: 10px 10px 0px 10px;
}

.title h1 {
    margin-bottom: 0;
}

header hr {
    margin-top: 5px;
    margin-bottom: 0;
}

.menu {
    color: white;
    display:inline-flex;
    background-color: rgb(34, 139, 34);
    width: 100%;
    
    .menu-title {
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
    }
}

.menu a {
    padding-left: 10px;
    align-self: center;
    text-decoration: none;
    color: white;
}
/*--------------*/


/* Estilos index */
.highlights {
    
    .background-carousel {
        background-color: rgb(34, 139, 34, 20%);
        padding: 20px 0;
        margin: 0 50px;
    }
    
    .highlights-carousel {
        text-align: center;
    }
    
    .carousel {
        width: auto;
        max-width: 60%;
        height: auto;
        max-height: 20%;
        display: inline-flex;
    }
    
    .carousel-caption h3 {
        background-color: rgb(0, 0, 0, 50%);
        border-radius: 10px;
        padding: 10px;
    }

    .carousel-control-prev {
        color: rgb(0, 0, 0, 50%);
    }
}

.map {

    .map-content {
        text-align: -webkit-center;
    }

    .map-image {
        width: 80%;
        height: 300px;
        display: flex;
    }
}

.albums {

    .albums-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 20px;
    }
    
    .album {
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    .album img {
        max-width: 100%;
        height: auto;
    }
    
    .album h2 {
        padding: 10px;
        font-size: 1.2rem;
    }
    
    .album p {
        padding: 0 10px 10px 10px;
        flex-grow: 1;
    }
    
    .album a {
        background-color: rgb(34, 139, 34);
        color: #fff;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        transition: background-color 0.3s;
        margin-top: auto;
    }
    
    .album a:hover {
        background-color: rgb(34, 139, 34, 50%);
    }
    
}

.footer-content {
    background-color: rgb(34, 139, 34);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;

    .about {
        flex: 1;
        padding-right: 50px;
        text-align: justify;
    }

    .author-info {
        margin-bottom: 5px;
    }

    .author-details p {
        margin: 0;
    }

    .social-links {
        display: flex;
    }

    .social-links a {
        padding-left: 20px;
        text-decoration: none;
        color: #fff;
    }
}
/*----------------*/


/* Estilos do album */
.specified-album-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.specified-album-cover {
    flex: 1;
    max-width: 50%;
    padding: 20px;
}

.specified-album-cover img {
    max-height: 319px;
    max-width: 478px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.specified-album-info {
    flex: 1;
    max-width: 50%;
    padding: 20px;

    .description {
        text-align: justify;
    }

    .additional-info {
        display: inline-flex;
        width: 100%;
        justify-content: flex-start;
    }

    .album-location {
        width: 70%;
    }

    .paragraph-title {
        color: blue;
        font-size: 13px;
        margin: 0;
    }
}

.specified-album-info h2 {
    font-size: 24px;
}

.specified-album-info p {
    margin: 10px 0;
    font-size: 16px;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.item {
    background-color:rgb(34, 139, 34, 20%);
    border-radius: 5px;
    padding: 10px;
    text-align: center;

    .item-content {
        width: auto;
        height: auto;
    }
}

.item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
/*------------------*/